/* Styles data viz map */

#bb-data-viz-wrapper h3 {
    border-bottom: 1px solid #000;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#bb-data-viz-wrapper p {
	padding: 0 0 10px;
}

#bb-mapid { 
	height: 90vh;
	margin: 20px 0;
}

#bb-loader {
	background: #333 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: none;
    font-size: 20px;
    margin: 150px 40% 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 250px;
    z-index: 1000;
}

#bb-map-controls {

}

.bb-map-control {
	background: #6fb961;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}

.bb-map-control-active {
	background: #61a9d3!important;
	padding: 10px 10px 12px;
}

#bb-map-legend h4 {
	padding: 0 0 5px;
}

.bb-map-key {
	padding: 10px;
}

#bb-map-key-green {
	border-left: 10px solid #00FF00;
}

#bb-map-key-yellow {
	border-left: 10px solid #FFFF00;
}

#bb-map-key-orange {
	border-left: 10px solid #FF8C00;
}

#bb-map-key-red {
	border-left: 10px solid #FF0000;
}

