/* Styles data viz map */

#bb-data-viz-wrapper h3 {
    border-bottom: 1px solid #000;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#bb-data-viz-wrapper p {
	padding: 0 0 10px;
}

#bb-mapid { 
	height: 1000px;
	margin: 20px 0;
}

#bb-loader {
	background: #333 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: none;
    font-size: 20px;
    margin: 150px 40% 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 250px;
    z-index: 1000;
}


